In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
#world shapefile
poly=gpd.read_file("dataset/wb_countries_admin0_10m/wb_countries_admin0_10m.shp")

In [3]:
#check crs
poly.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [4]:
poly.columns

Index(['OBJECTID', 'featurecla', 'LEVEL', 'TYPE', 'FORMAL_EN', 'FORMAL_FR',
       'POP_EST', 'POP_RANK', 'GDP_MD_EST', 'POP_YEAR', 'LASTCENSUS',
       'GDP_YEAR', 'ECONOMY', 'INCOME_GRP', 'FIPS_10_', 'ISO_A2', 'ISO_A3',
       'ISO_A3_EH', 'ISO_N3', 'UN_A3', 'WB_A2', 'WB_A3', 'CONTINENT',
       'REGION_UN', 'SUBREGION', 'REGION_WB', 'NAME_AR', 'NAME_BN', 'NAME_DE',
       'NAME_EN', 'NAME_ES', 'NAME_FR', 'NAME_EL', 'NAME_HI', 'NAME_HU',
       'NAME_ID', 'NAME_IT', 'NAME_JA', 'NAME_KO', 'NAME_NL', 'NAME_PL',
       'NAME_PT', 'NAME_RU', 'NAME_SV', 'NAME_TR', 'NAME_VI', 'NAME_ZH',
       'WB_NAME', 'WB_RULES', 'WB_REGION', 'Shape_Leng', 'Shape_Area',
       'geometry'],
      dtype='object')

In [13]:
from shapely import wkt
#rainfall point data 2017
rain17 = pd.read_csv('dataset/rainfall_point_17.csv')
rain17['geometry'] =rain17['geometry'].apply(wkt.loads)
g_rain17 = gpd.GeoDataFrame(rain17)

In [14]:
g_rain17.crs="EPSG:3857"

In [15]:
g_rain17=g_rain17.to_crs("EPSG:4326")

In [16]:
from geopandas.tools import sjoin
points_polys_17 =gpd.sjoin(g_rain17, poly, how="left")
points_polys_17.head()

,FID,id_punto,agno,pre_anual,geometry,index_right,OBJECTID,featurecla,LEVEL,TYPE,...,NAME_RU,NAME_SV,NAME_TR,NAME_VI,NAME_ZH,WB_NAME,WB_RULES,WB_REGION,Shape_Leng,Shape_Area
0,pre_anual_espacial_p.fid--5ff12b53_17a6a9af5d6...,0,2017,198.6,POINT (-37.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pre_anual_espacial_p.fid--5ff12b53_17a6a9af5d6...,2,2017,199.2,POINT (-36.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pre_anual_espacial_p.fid--5ff12b53_17a6a9af5d6...,4,2017,199.4,POINT (-35.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pre_anual_espacial_p.fid--5ff12b53_17a6a9af5d6...,6,2017,197.9,POINT (-34.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pre_anual_espacial_p.fid--5ff12b53_17a6a9af5d6...,7,2017,197.9,POINT (-34.25000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
points_polys_17=points_polys_17.dropna(axis=0,subset=["OBJECTID"])

In [18]:
stats_pt_17 = points_polys_17.groupby('OBJECTID')['pre_anual'].agg(['mean','median','max','min']).reset_index()

In [19]:
poly_name=pd.DataFrame(poly,columns=["OBJECTID","FORMAL_EN","NAME_EN"])

In [20]:
rainfall_data_17=pd.merge(stats_pt_17,poly_name,on="OBJECTID")

In [21]:
#export csv data 
rainfall_data_17.to_csv('dataset/rainfall_17.csv', index=False,encoding="utf-8")

In [22]:
#rainfall point data 2018
rain18 = pd.read_csv('dataset/rainfall_point_18.csv')
rain18['geometry'] =rain18['geometry'].apply(wkt.loads)
g_rain18 = gpd.GeoDataFrame(rain18)

In [23]:
g_rain18.crs="EPSG:3857"

In [24]:
g_rain18=g_rain18.to_crs("EPSG:4326")

In [25]:
points_polys_18 =gpd.sjoin(g_rain18, poly, how="left")
points_polys_18.head()

,FID,id_punto,agno,pre_anual,geometry,index_right,OBJECTID,featurecla,LEVEL,TYPE,...,NAME_RU,NAME_SV,NAME_TR,NAME_VI,NAME_ZH,WB_NAME,WB_RULES,WB_REGION,Shape_Leng,Shape_Area
0,pre_anual_espacial_p.fid--5ff12b53_17a6a9d36ae...,0,2018,171.6,POINT (-37.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pre_anual_espacial_p.fid--5ff12b53_17a6a9d36ae...,2,2018,172.5,POINT (-36.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pre_anual_espacial_p.fid--5ff12b53_17a6a9d36ae...,4,2018,173.4,POINT (-35.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pre_anual_espacial_p.fid--5ff12b53_17a6a9d36ae...,6,2018,173.6,POINT (-34.75000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pre_anual_espacial_p.fid--5ff12b53_17a6a9d36ae...,7,2018,173.6,POINT (-34.25000 83.75000),NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
points_polys_18=points_polys_18.dropna(axis=0,subset=["OBJECTID"])

In [29]:
stats_pt_18 = points_polys_18.groupby('OBJECTID')['pre_anual'].agg(['mean','median','max','min']).reset_index()

In [31]:
rainfall_data_18=pd.merge(stats_pt_18,poly_name,on="OBJECTID")

In [32]:
#export csv data 
rainfall_data_18.to_csv('dataset/rainfall_18.csv', index=False,encoding="utf-8")